{% extends "base.html" %}
{% load static %}

{% block body_class %}mdc-typography{% endblock %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% block extra_css %}
<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .element-card {
    width: 20em;
    margin: 16px;
    padding: 14px;
  }

  .element-card > .mdc-card__media {
    height: 9em;
  }

  #demo-absolute-fab {
    background-color: #212121;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
  }
 .mdc-card .element-card .earth {
    max-width: 350px;
    height: 350px;
    max-height: auto;
    padding: 14px;
 }
</style>
{% endblock %}

{% block content %}
{% include "includes/hero.html" %}
  <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch">
        <span class="mdc-floating-label" id="my-label-id">Your Name</span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
  </label>

  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon" data-mdc-auto-init="MDCTextField">
    <i class="material-icons mdc-text-field__icon lps-icon-right">visibility</i>
    <input class="mdc-text-field__input" id="text-field-hero-input">
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>

  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon" data-mdc-auto-init="MDCTextField">
    <i class="material-icons mdc-text-field__icon">visibility</i>
    <input class="mdc-text-field__input" id="text-field-hero-input">
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>

  <button class="mdc-button mdc-button--raised lps-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple">  <span class="mdc-button__ripple"></span> Learn More</button>
    <div class="cards">
      <div class="mdc-card element-card earth">
        <div class="mdc-card__media">
          <div class="mdc-card__media-content">
            <h1 class="mdc-typography--headline4">Earth</h1>
            <h2 class="mdc-typography--headline6">A solid decision.</h2>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="mdc-card element-card wind">
        <div class="mdc-card__media">
          <h1 class="mdc-typography--headline4">Wind</h1>
          <h2 class="mdc-typography--headline6">Stormy weather ahead.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="mdc-card element-card fire">
        <div class="mdc-card__media">
          <h1 class="mdc-typography--headline4">Fire</h1>
          <h2 class="mdc-typography--headline6">Hot-headed much?</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="mdc-card element-card water">
        <div class="mdc-card__media">
          <h1 class="mdc-typography--headline4">Water</h1>
          <h2 class="mdc-typography--headline6">Go with the flow.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <button class="mdc-fab lps-button" id="demo-absolute-fab" aria-label="Favorite">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__icon material-icons">favorite</span>
    </button>
{% endblock content %}