{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block content %}
<article class="prose lg:prose-xl">
  {% comment %}
  <h1 class="font-inter_semibold text-9x1">{{ page.hero_title }}</h1>
  {% endcomment %}
  <p>{{ page.hero_subtitle }}</p>
  <p>
    But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
    springing up around the country.
  </p>
  <a class="btn btn-primary btn-lg" href="{{ page.cta_btn_link.url }}" role="button">{{ page.cta_btn_text }}</a>
  <!-- ... -->
</article>

{% endblock content %}