Django>=3.2,<3.8
wagtail>=4.1.9,<2.14
django-sslserver>=0.22,<0.32
django-tailwind>=1.1.2,<1.2
django-redis>=4.12.1,<4.13
psycopg2-binary>=2.8.6,<2.8.7
django-storages[google]>=1.11.1,<1.12
wagtailsvg>=0.0.14,<0.1
wagtailcolumnblocks>=2.2.0,<2.3
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability