{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/11.0.0/material-components-web.css" integrity="sha512-Eg6eqFxtUB0BwHHsPj44aIQYa4evUUd8SyjsQKDx2j4il9WbfZFMb9TBM1iz5aZSHtr1jE4qUrkFPnN9qzyS+g==" crossorigin="anonymous" />
         {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/11.0.0/material-components-web.min.js" integrity="sha512-oEIwIw0lBpt7kQn5OnE/5Hp5/SI/UbmBmrXj5EDeJSe2pYhGkyZhyCrxfrcjVytr5BPeylirRhPlSwoOMMNhKg==" crossorigin="anonymous"></script>

        {% block extra_css %}
        :root {
            --mdc-theme-primary: #212121;
            --mdc-theme-secondary: #000;
            --mdc-theme-background: #fff;
            --mdc-theme-surface: #fff;
            --mdc-theme-error: #d32f2f;
            --mdc-theme-on-primary: #fff;
            --mdc-theme-on-secondary: #fff;
            --mdc-theme-on-surface: #000;
            --mdc-theme-on-error: #fff;
            --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
            --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
            --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
            --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
            --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
            --mdc-theme-text-primary-on-dark: white;
            --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
            --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
            --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
            --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
            }
        {% endblock %}
    </head>

    <body id="main-content" class="{% block body_class %}{% endblock %}">
        {% include "includes/navbar.html" %}

        {% wagtailuserbar %}      
        {% block content %}
        
        {% endblock %}
        {% include "includes/footer.html" %}
        {# Global javascript #}
        {% block extra_js %}
     <!-- at the bottom of the page -->
        <script>
        const buttons = document.querySelectorAll('.mdc-button');
        for (const button of buttons) {   
            mdc.ripple.MDCRipple.attachTo(button);
        };
        const fabs = document.querySelectorAll('.mdc-fab');
        for (const fab of fabs) {   
            mdc.ripple.MDCRipple.attachTo(fab);
        };
        window.mdc.autoInit();
        </script> 
        {% endblock %}
    </body>
</html>mdc-fab 
