{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel='dns-prefetch' href='//fonts.googleapis.com' />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/bundle.css' %}" />
         {# Global javascript #}
        <script src="{% static 'js/bundle.js' %}" async defer></script>

        {% block extra_css %}
        			:root {
				/* Theme color vars */
				--mdc-theme-primary: #121212;
				--mdc-theme-primary-rgb: 18,18,18;
				--mdc-theme-on-primary: #ffffff;
				--mdc-theme-on-primary-rgb: 255,255,255;
				--mdc-theme-secondary: #9575cd;
				--mdc-theme-secondary-rgb: 149,117,205;
				--mdc-theme-on-secondary: #ffffff;
				--mdc-theme-on-secondary-rgb: 255,255,255;
				--mdc-theme-surface: #ffffff;
				--mdc-theme-surface-rgb: 255,255,255;
				--mdc-theme-on-surface: #000000;
				--mdc-theme-on-surface-rgb: 0,0,0;
				--mdc-theme-surface-mix-4: #f5f5f5;
				--mdc-theme-surface-mix-12: #e0e0e0;

				/* Icon collection type var */
				--mdc-icons-font-family: "Material Icons";

				/* Typography vars */
				--mdc-typography-headline1-font-family: "Roboto", sans-serif;
				--mdc-typography-headline2-font-family: "Roboto", sans-serif;
				--mdc-typography-headline3-font-family: "Roboto", sans-serif;
				--mdc-typography-headline4-font-family: "Roboto", sans-serif;
				--mdc-typography-headline5-font-family: "Roboto", sans-serif;
				--mdc-typography-headline6-font-family: "Roboto", sans-serif;
				--mdc-typography-subtitle1-font-family: "Roboto", sans-serif;
				--mdc-typography-subtitle2-font-family: "Roboto", sans-serif;
				--mdc-typography-font-family: "Roboto", sans-serif;
				--mdc-typography-body1-font-family: "Roboto", sans-serif;
				--mdc-typography-body2-font-family: "Roboto", sans-serif;
				--mdc-typography-caption-font-family: "Roboto", sans-serif;
				--mdc-typography-button-font-family: "Roboto", sans-serif;
				--mdc-typography-overline-font-family: "Roboto", sans-serif;

				/* Corner Styles vars */
				--mdc-button-radius: 0px;
				--mdc-card-radius: 0px;
				--mdc-chip-radius: 0px;
				--mdc-data-table-radius: 0px;
				--mdc-image-list-radius: 0px;
				--mdc-nav-drawer-radius: 0px;
				--mdc-text-field-radius: 0px;
			}
        {% endblock %}
    </head>

    <body id="main-content" class="{% block body_class %}{% endblock %}">
        {% include "includes/navbar.html" %}

        {% wagtailuserbar %}      
        {% block content %}
        
        {% endblock %}
        {% include "includes/footer.html" %}
        {# Global javascript #}
        {% block extra_js %}
     		<!-- at the bottom of the page -->
        {% endblock %}
    </body>
</html>
